body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(254, 248, 235);
    background-color: #1a1817;
    font-size: large;
}
ol {
    padding-left: 0;
}
header {
    font-size: x-large;
}

body {
    display: grid;
    font-family: "Courier New", Courier, monospace;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto auto 1fr;

    grid-template-areas:
        "header header"
        "sidebar nav "
        "main body";
}

section {
    padding-bottom: 2.5rem;
}

table,
th,
td {
    border: 1px whitesmoke;
    border-collapse: collapse;
    border-style: solid;
    padding: 1rem;
}

th {
    background-color: #a1d5ff;
}

#sections {
    line-height: 2em;
}

#sidebar {
    grid-area: sidebar;
    background: #a1d5ff;
    padding: 2rem;
    margin: 1rem;
}

#header {
    grid-area: header;
    background: rgb(255, 119, 65);
    padding: 2rem;
    margin: 1rem;
}

#nav {
    grid-area: nav;
    padding: 2rem;
    margin: 1rem;
}

#main {
    grid-area: content;
    background: #302c29;
    padding: 2rem;
    margin: 1rem;
}
